<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS</title>
    <style>
        .red {
            color: red;
        }

        .blue {
            color: blue;
        }

        img {
            height: 150px;
            width: 150px;
        }

        .ar{
            text-align: right;
            direction: rtl;
        }
    </style>
</head>

<body>
    <main id="app">
        <h1>Basics:</h1>
        <div>
            <button @click="login">
                <h3 v-if="is_authenticated">Log in</h3>
                <h3 v-else>Log out</h3>
            </button>
            
            <h4 :class="{ red: false, blue: true}" v-text="message"></h4>
            {{message}} 
            <button v-on:click="show">Click me!</button>
            <img :src="img" alt="None" :title="name">
        </div>
        <div :class="{ar: (lang=='ar')}">
            <!-- assn-->
            <hr>
            <button @click="change">
                {{ lang == 'ar' ? 'English' : 'العربية' }}
            </button>
            <h2 v-if="lang == 'en'">English IS GOOD</h2>
            <h2 v-else>  بالعربية عربي</h2>
        </div>
        <h1>Loops & Computed:</h1>
        <div>
            <ul>
                <li v-for='name in names' v-text="name" :key="name"></li>
            </ul>
            <ul>
                <li v-for='i in list_even' v-text="i" :key="i"></li>
            </ul>
            <h2 v-text="full_name"></h2>
        </div>
        <h1>Watch and deep watch:</h1>
        <div>
            <button @click="like" v-text="status"></button> <span v-text="like_counter"></span>
            <p>Old value: <em v-text="old"></em></p>
            <button @click="like2" v-text="pagdata.status"></button> <span v-text="like_counter2"></span>
            <p>Old value: <em v-text="old2.status"></em></p>
        </div>
    </main>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            message: "Hi, Hassan!",
            img: "images/me.png",
            name: "hassan Zekkouri",
            is_authenticated: true,
            lang: 'en',
            names: ['Hassan', 'Ali', 'Med', 'Youssef'],
            x: [1, 2, 3, 4, 5, 6, 7, 8, 9],
            first_name: 'Hassan',
            last_name: 'Zekkouri',
            status: 'like',
            like_counter: 0,
            old: 0,
            pagdata: {status: 'like'},
            like_counter2: 0,
            old2: 0,
        },
        methods: {
            show() {
                alert('Thanks');
            },

            login(){
                this.is_authenticated = !this.is_authenticated;
            },

            change(){
                if(this.lang == 'ar'){
                    this.lang = 'en';
                }else{
                    this.lang = 'ar';
                }
            },

            like(){
                if(this.status == "like"){
                    this.status = "dislike";
                }else{
                    this.status = "like";
                }
            },

            like2(){
                if(this.pagdata.status == "like"){
                    this.pagdata.status = "dislike";
                }else{
                    this.pagdata.status = "like";
                }
            }
        },
        computed:{
            list_even(){
                var e = [];
                for(i in this.x){
                    if(i%2 == 0){
                        e.push(i);
                    }
                }
                return e;
            },

            full_name: {
                get: function (){
                    return this.first_name + ' ' + this.last_name;
                },
                set: function (new_data){
                    this.first_name = new_data.split(' ')[0];
                    this.last_name = new_data.split(' ')[1];
                }
            }
        },
        watch:{
            status(val, oldval){
                if(val == 'dislike'){
                    this.like_counter += 1;
                }else{
                    this.like_counter -= 1;
                }
                this.old = oldval;
            },

            pagdata: { handler: function(val, oldval){
                if(val.status == 'dislike'){
                    this.like_counter2 += 1;
                }else{
                    this.like_counter2 -= 1;
                }
                this.old2 = oldval;
            }, deep: true},  
        }
    })
</script>

</html>